<h1>List of Users</h1>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Private?</th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.private == true ? "Yes" : "No" %></td>
      <td>

        <% if @current_user %>
          <% follow_request = FollowRequest.where(:recipient_id => user.id).where(:sender_id => @current_user.id).first%>
          <% if @current_user.leaders.include?(user)%>
            <a href="/delete_follow_request/<%= follow_request.id %>">Unfollow</a>
          <% elsif follow_request %>
              <p>Request sent. </p><a href="/delete_follow_request/<%= follow_request.id %>">Cancel</a>
          <% else %>
            <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= user.id %>">
              <button>Follow</button>
            </form>
          <% end %>
        <% end %>
      </td>
      <td><a href="/users/<%= user.username %>">Show details</a></td>
    </tr>
  <% end %>
</table>
