<h1><%= @user.username %></h1>

<dl>
  <dt>Private?</dt>
  <dd><%= @user.private %></dd>

  <dt>Followers</dt>
  <dd><%= @user.followers.count %></dd>
  <dd>
    <% if !@already_followed && @user != @current_user%>
    <form action="/insert_follow_request" method="post">
      <input type="hidden" name="query_recipient_id" value="<%= @user.id %>">
      <button>Follow</button>
    </form>
    <% end %>
  </dd>

  <dt>Following</dt>
  <dd><%= @user.leaders.count %></dd>
</dl>

<ul>
  <li><a href="/users/<%= @user.username %>">Profile</a></li>
  <li><a href="/users/<%= @user.username %>/liked_photos">Liked Photos</a></li>
  <li><a  href="/users/<%= @user.username %>/feed">Feed</a></li>
  <li><a  href="/users/<%= @user.username %>/discover">Discover</a></li>
</ul>

<h2><%= @display %></h2>
<table border="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>
  <% @photos.each do |photo| %>
    <tr>
      <td><img src="<%= photo.image %>"></td>
      <td><%= photo.user.username %></td>
      <td><%= photo.caption %></td>
      <td><%= time_ago_in_words(photo.created_at) %></td>
      <td><%= photo.likes.count %></td>
      <td><a href="/photos/<%= photo.id %>">Show details<a></td>
    </tr>
  <% end %>
</table>
